<mat-card>
  <section>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field>
        <input name="email" type="email" formControlName="email" matInput placeholder="Your email" />
        <mat-hint> Please enter a valid email</mat-hint>
        <mat-error> Invalid email </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input name="password" type="password" formControlName="password" matInput placeholder="Your password" />
        <mat-hint> Please enter the password</mat-hint>
        <mat-error> Missing password </mat-error>
      </mat-form-field>

      <button type="submit" mat-raised-button [disabled]="loginForm.invalid" color="primary">Login </button>

    </form>
  </section>
</mat-card>
