<mat-card>
  <strong> MORE FROM US </strong>
</mat-card>
<mat-grid-list cols="3">
  <mat-grid-tile>
    <div class="wrapper">
      <h2>
        <span>GIFT </span>
      </h2>
      <i class="material-icons">card_giftcard</i>
      <p>
        With our cards, you can gift your friends & family movie & play tickets, concert passes, whatever it is they love for their
        birthdays, anniversaries or simply for no reason other than how you feel about them. Pretty sweet, aint it?
      </p>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="wrapper">
      <h2>
        <span>OFFERS </span>
      </h2>
      <i class="material-icons">local_offer</i>
      <p>
        Delight yourself with crazy offers while you book your tickets. Whether its cashback, freebies or discounts you're after,
        there's a can't-miss bargain for every single one of you.
      </p>
    </div>

  </mat-grid-tile>
  <mat-grid-tile>
    <div class="wrapper">
      <h2>
        <span>MOBILE APPS </span>
      </h2>
      <i class="material-icons">apps</i>
      <p>
        Book your tickets on the go, only with a couple of clicks. Choose from a whopping 3,000+ cinema screens across India and
        book as late as 20 minutes before showtime for those spur-of-the-moment plans.
      </p>
    </div>

  </mat-grid-tile>

</mat-grid-list>
